html {
    background: #d8d8d8;
}
html.full {
    background:transparent;
}
body {
    margin:0 auto;
    background:#303030;
    font-family:'Anaheim',sans-serif;
    color: #d8d8d8;
    text-align: justify;
}
main {
    position:relative;
    max-width: 1024pt;
}
body > h1, main > h1 {
    padding-top: 8%;
}
h1, h2 {
    margin: 0;
    text-align:center;
    color:#d8d8d8;
    text-shadow:0 3px 2px rgba(0, 0, 0, 0.8);
}
h1 {
    font-size:2.5em;
}
h2 {
    font-size:1.5em;
}
pre > code {
    margin: 2pt 35pt;
    padding: 0pt 10pt;
    display: block;
    overflow: scroll;
    font-size: 0.9em;
    background: #ffffff;
    color: #000000;
}
abbr[title] {
    border-bottom:none;
}
a {
    color:#ae4949;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a:visited {
    color:#928280;
}
footer a {
    color:#a60400;
}
h1 a {
    color:#d8d8d8;
}
h1 a:hover {
    text-decoration:none;
}
h1 a:visited {
    color:#d8d8d8;
}
section {
    margin:2em auto;
    width:95%;
}
section > h3 {
    color:#d8d8d8;
}
p, ul {
    color:#d8d8d8;
}
ul {
    list-style-type:none;
    padding:0;
}
li {
    padding:.3em 0;
}
footer {
    left:0px;
    bottom:0px;
    height:100px;
    width:100%;
    color:#303030;
    text-align:center;
    background:#d8d8d8;
    padding-top:1em;
}
footer p {
    color:#303030;
    font-size:.8em;
}

@media only screen and (min-width:50em) {
    h1 {	font-size:4em; }
    h2 { font-size:2em; }
    section { width:60%; }
}